

.img-hero {
  z-index:-1;
  margin-bottom: -9.375em;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0))
}

.home-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 1;
  margin-left: 0.313px;
  margin-right: 0.313px;
}