.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 18.75em;
  height: 6.25em;
  padding: 1.25em;
  padding-bottom: 7em;
  background-color: #f3f3f3;
  border: 0.05em solid #ddd;
  border-radius: 0.19em;
}

.subtotal-gift {
  display: flex;
  align-items: center;
}

.subtotal-gift > input {
  margin-right: 0.3em;
}